<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Dashboard</title>
</head>
<body>
    <header>
        <h1>{{ movie.title }}</h1>
    </header>
    <main>
        <section>
            <ul>
                <li>
                    <h3>{{ movie }}</h3>
                </li>
            </ul>
        </section>
        <section>
            <h2>Casting</h2>
            <ul>
                {% for actor in actors %}
                    <li>{{ actor.firstname }} {{ actor.lastname }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>