<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Dashboard</title>
</head>
<body>
    <header>
        <h1>Movies Dashboard</h1>
    </header>

    <!-- Afficher les erreurs -->
    {% if error %}
        <p style="color: red;">Error: {{ error }}</p>
    {% endif %}

    <!-- Barre de recherche -->
    <form method="post" style="margin-bottom: 20px;">
        {% csrf_token %}
        <input type="text" name="search_query" placeholder="Rechercher un film..." value="{{ request.POST.search_query }}">
        <button type="submit">Rechercher</button>
    </form>

    <!-- Afficher les résultats de la recherche si disponibles -->
    {% if search_result %}  
        <h2>Résultats de la recherche :</h2>
            {% for search_result in search_result %}
                <a href="{% url 'movie_detail' search_result.id %}">{{ search_result.title }}</a>
            {% endfor %}
    {% endif %}
    <hr>

    <main>
        <section>
            <h2>Movies List</h2>
            <ul>
                {% for movie in movies %}
                    <li>
                        <h3><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h3>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>