<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showtimes Dashboard</title>
</head>
<body>
    <header>
        <h1>Sowtimes</h1>
    </header>

    <main>
        <section>
            <h2>Showtimes List</h2>
            <ul>
                {% for show in showtimes %}
                        <h3>{{ show.date }}</h3>
                        {% for movie in show.movies %}
                            <p>{{ movie.title }}</p>
                            <p>{{ movie.seatsBooked }} places restantes</p>
                            <br>
                        {% endfor %}

                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>